<div id="wrapper" class="fade-in">
  <span class="bg"></span>

  <navBar></navBar>

  <div id="main">

    <section class="post" style="padding-bottom: 40px;">
      <header class="major">
        <span class="date"> Du 28 juin au 3 juillet 2022 </span>
        <h2>Les Vents de Folie</h2>
        <p>Pour ses 160 ans, la société musicale de Vichy refait les choses en grand. Elle organise a nouveaux le festival Vents de Folie, au Palais des Sports Pierre-Coulon. Cette édition 2022, se déroulera sur cinq jours cette fois-ci.
          Soyez pret pour passer une semaine musical en compagnie d'invités locaux et internationaux avec en tête d'affiche <b>James Blunt</b>.</p>
        <p>Lors de son éditions 2012, elle avais eut le plaisir d'acceuillir des invités tel que: le Bagad de Lann-Bihoué (Bretagne), la musique des Équipages de la Flotte de Toulon, le show parade de Creutzwald (Lorraine), la Stadtkapelle de Bad Tölz (Allemagne), le Pipe Band du comté de Dunfermline (Écosse), les Fifres et Tambours du conservatoire populaire de Genève (Suisse).</p>
      </header>
    </section>

    <section class="valeurs">
      <header>
        <h3 class="align-center" style="color: #FFF;">Souvenez vous</h3>
      </header>
      <div class="align-center">
        <p class="align-center">En 2012, la Société Musicale de Vichy avait déjà organisée le festival 'Vent de folie' a Vichy.</p>
        <object data="https://www.youtube.com/embed/MUC_Kc515jI" width="560" height="315" ></object>
      </div>
    </section>

    <section style="padding: 0;">
      <header>
        <h3 class="align-center" style="color: #FFF;">Billeterie</h3>
      </header>
      <div class="align-center">
        <p class="align-center"><i class="fas fa-neuter" style="margin-right: 10px;"></i>la Billeterie n'est pas encore ouverte.</p>
        <img src="images/soon.png" alt="" />
      </div>
    </section>

  </div>
  <footerBar></footerBar>
</div>