<div id="wrapper" class="fade-in">
  <span class="bg"></span>

  <navBar></navBar>

  <div id="main">

    <section class="post" style="padding-bottom: 40px;">
      <header class="major">
        <h2>Qui sommes nous?</h2>
        <p>Orchestre d'hamronie de musiciens amateurs, depuis sa création en 1862, la Société Musicale de Vichy n'as césser de permettre a ses musiciens d'oublier leurs quotidien en leurs procurant une ambiance où il fait bon vivre.</p>
        <p>Depuis 160 ans la SMV tente de transmettre la passion de la musique, et ce n'est pas près de s'arréter... Elle compte aujourd'hui plus d'une cinquantaine de musiciens actifs et possédant tous la soiffe de prestation variée autour du bassin vichissois et ailleurs.</p>
        <p>Elle entretien de très bonnes relations avec les orchestres des différentes villes jumelées avec Vichy et passe leurs rendre visite régulièrement.</p>
      </header>
      <h3 class="align-center">Présentation de l'équipe</h3>
      <div class="image-container">
        <div class="image align-center"><img src="images/valentin.jpg" alt="" /><div style="font-size: 15px;" class="align-center">Valentin Besson, Chef d'orchestre adjoint</div></div>
        <div class="image align-center"><img src="images/thibault.jpeg" alt="" /><div style="font-size: 15px;" class="align-center">Thibault Besson, Président de l'association</div></div>
        <div class="image align-center"><img src="images/jacky.jpg" alt="" /><div style="font-size: 15px;" class="align-center">Jacky Laforest, Chef d'orchestre</div></div>
      </div>
    </section>

    <section class="valeurs">
      <header>
        <h3 class="align-center" style="color: #FFF;">Nos Valeurs</h3>
      </header>
      <div class="image-container">
        <div class="icons"><img src="images/convivialité.png" alt="" />Convivialité</div>
        <div class="icons"><img src="images/fratérnité.png" alt="" />Fratérnité</div>
        <div class="icons"><img src="images/passion.png" alt="" />Respect</div>
      </div>
    </section>
  </div>
  <footerBar></footerBar>
</div>