<div id="wrapper" class="fade-in">
  <span class="bg"></span>

  <navBar></navBar>

  <!-- Main -->
    <div id="main">

      <!-- Featured Post -->
        <article class="post featured">
          <header class="major">
            <h2>Bienvenue sur le site de notre orchestre d'harmonie !</h2>
            <p>Ici, tu seras informé de toutes nos actualités, de nos dates de concert, et tu pourras même réserver tes billets ! Plus d'excuses pour ne pas venir nous voir !.</p>
          </header>
          <img src="images/orchestre.png" class="image main">
        </article>

      <!-- Posts -->
        <h3 class="align-center last-post">Nos derniers posts</h3>
        <section class="posts">
          <article style="padding: 1rem 0 1rem 0;">
            <header>
              <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSocieteMusicale%2Fposts%2F5210370165649326&show_text=false&width=280" width="280" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </header>
          </article>
          <article style="padding: 1rem 0 1rem 0;">
            <header>
              <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSocieteMusicale%2Fposts%2F5183124011707275&show_text=false&width=280" width="280" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </header>
          </article>
          <article style="padding: 1rem 0 1rem 0;">
            <header>
              <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSocieteMusicale%2Fposts%2F5057178284301849&show_text=false&width=280" width="280" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </header>
          </article>
          <article style="padding: 1rem 0 1rem 0;">
            <header>
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FSocieteMusicale%2Fvideos%2F4220938688011038%2F&show_text=false&width=280&t=0" width="280" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </header>
          </article>
        </section>
    </div>

    <footerBar></footerBar>

</div>